set -e

git clone --no-tags --single-branch --progress https://github.com/dotnet/runtime runtime
cd runtime
git log -1
chmod 777 build.sh
git config --global user.email build@build.foo
git config --global user.name build

{{MERGE_BASELINE_BRANCHES}}

git switch -c pr

{{MERGE_PR_BRANCHES}}

git switch main

eng/install-native-dependencies.sh linux